
.single article iframe[allowfullscreen] {
  display: block;
  width: 100%;

  @include breakpoint(small down) {
    max-height: 200px;
  }
}

@keyframes loading {
  from {left: -100px; width: 30%;}
  to {left: 100%;}
}

.hmedia {
  margin: 0;

  img {
    height: auto;
    max-width: 100%;
    margin-top: -3px;
    position: relative;
    -moz-transition: transform .4s ease-out;
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
  }

  .image::before {
    display: block;
    position: relative;
    content: '';
    left: -200px;
    width: 200px;
    height: 3px;
    background-color: #ccc;
    animation: loading 2s linear infinite;
  }

  &:hover img {
    -moz-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
}

.hmedia figcaption.fn {
  clip: rect(0 0 0 0);
  position: absolute;
}

.search .hentry,
.archive .hentry {
  background: #f5f5f5;
  box-shadow: 0 2px 1px rgba(93,93,93,.3);
  margin: 0 0 10px;
  overflow: hidden;
  position: relative;
  height: 145px;

  @include breakpoint(medium up) {
    min-height: 230px;
  }

  @include breakpoint(375 down) {
    height: 125px;
    margin: 0 .25em 10px;
  }

  @include breakpoint(320 down) {
    height: 92px;
  }

  .hmedia a {
    display: block;
  }
}

.gallery-item {
	display: inline-block;
	padding: 1%;
	text-align: center;
	vertical-align: top;
	width: 50%;
}

.gallery-icon {
  background-color: $gray-light;
}

.gallery-columns {
	&-3 .gallery-item {
		max-width: 33.33%;
	}
}
