
main {

  > .row {
    margin: auto;
    max-width: 736px;
  }

}

.header {
  background-color: $primary-color;
  box-shadow: 0 1px 3px $gray-dark;
  text-align: center;
  position: relative;

  a {
    color: $gray-lightest ;
  }

  > .row {
    padding-top: .75em;
  }
}

.site-logo {
  font: 300 1.3em/1.5 $font-sans;
  letter-spacing: -.05em;
  margin: 0 auto 0.5rem;

  a:hover, a:focus {
    color: $white;
  }

  @include breakpoint(medium up) {
    font-size: 1.5em;
  }
}

span.flatpickr-day.endRange.endRange,
span.flatpickr-day.selected.startRange,
span.flatpickr-day.endRange.startRange, 
span.flatpickr-day.startRange.startRange {
  background-color: $primary-color;
  border-color: $primary-color;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), 
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), 
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 $primary-color;
}

.search {
  &-form {
    margin: auto;
    position: relative;
  }

  &-form:before,
  &-form:after {
    color: $gray-dark;
    position: absolute;
    top: 16%;
  }
  
  &-form:before {
    content: $fa-var-bolt;
    left: 2%;
  }
  
  &-form:after {
    content: $fa-var-calendar;
    left: 64%;
  }

  &-form .button {
    display: none;
    background-color: lighten($primary-color, 14);
  }
  
  &-field[type],
  &-date-range[type] {
    font-size: .9em;
    height: 2.5em;
    padding-left: 2.35em;
    margin-bottom: .5em;
    display: inline-block;
    vertical-align: top; 
    border: 1px solid $gray-light;
    background-color: #fefefe;
    &:focus,
    &:active {
      border-color: #4d0ff1;
    }
  }
  
  &-field[type] {
    width: 60%;
  }
  
  &-date-range[type] {
    width: 40%;
  }
}
