
main {

  > .row {
    margin: auto;
    max-width: 736px;
  }

}

.header {
  background-color: $primary-color;
  box-shadow: 0 1px 3px $gray-dark;
  text-align: center;
  position: relative;

  a {
    color: $gray-lightest ;
  }

  > .row {
    padding-top: .75em;
  }
}

.site-logo {
  font: 300 1.3em/1.5 $font-sans;
  letter-spacing: -.05em;
  margin: 0 auto 0.5rem;

  a:hover, a:focus {
    color: $white;
  }

  @include breakpoint(medium up) {
    font-size: 1.5em;
  }
}

span.flatpickr-day.endRange.endRange,
span.flatpickr-day.selected.startRange,
span.flatpickr-day.endRange.startRange,
span.flatpickr-day.startRange.startRange {
  background-color: $primary-color;
  border-color: $primary-color;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 $primary-color;
}

.search {
  &-form {
    margin: auto;
    position: relative;
  }

  &-form:before {
    color: $gray-dark;
    content: $fa-var-search;
    left: .75em;
    position: absolute;
    top: 16%;
  }

  &-form:before {
    content: $fa-var-bolt;
    left: 2%;
    @include breakpoint(small down) {
      left: 5%;
    }
  }

  &-form .button {
    background-color: lighten($primary-color, 14);
  }

  &-field[type] {
    font-size: .9em;
    height: 2.75em;
    padding-left: 2.35em;
    margin-bottom: .5em;
    display: inline-block;
    vertical-align: top;
    border: 1px solid $gray-light;
    background-color: #fefefe;
    width: 85%;

    @include breakpoint(small down) {
      padding: 0 .5em 0 2em;
    }

    &::placeholder {
      color: $gray-medium;
    }

    &:focus,
    &:active {
      border-color: #4d0ff1;
    }
  }
}
