html, body {
  margin: 0;
  padding: 0;
}

html {
  @include breakpoint(360px down) {
    font-size: 90% ;
  }
}

main {
  background: $white;
  box-shadow: 0 1px 3px 0 rgba(90,90,90,.3);
  overflow: hidden;
  padding-bottom: 1em;

  @include breakpoint(medium up) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

body .button {
  border-color: transparent;
}

address {
  font-style: normal;
}

ins, dfn {
  background: #f3f3f3;
  text-decoration: none;
  width: 100%;
  overflow: hidden;
}

table {
  @include breakpoint(small down) {
    font-size: .9em;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: -1px -1px 0 #ddd;
  display: inline-block;
  margin: 0 5px 5px;
  font-size: 1.2em;
  height: 21px;
  line-height: 1.35em;
  width: 21px;
  vertical-align: middle;

  &:checked:before {
    content: '\f00c';
    margin: -1px 0 0 3px;
    display: block;
  }
}

a {
  color: $primary-color;
}

.small-text-center {
  @include breakpoint(medium down) {
    text-align: center;
  }
}

.adsbygoogle.top {
  margin: .75em auto;
  max-height: 120px;
}

.adsbygoogle.bottom {
  margin: .75em auto;
}

@include breakpoint(medium up) {
  .search-form {
    max-width: 560px;
  }
}

:focus {
  outline: #4d0ff1 solid 1px;
}

::before, ::after {
  font-family: FontAwesome;
}

.screen-reader-text {
  @extend .show-on-focus;
}

h1.entry-title {
  color: $primary-color;
  letter-spacing: -.05em;
}

.hidden {
  display: none;
}

.small-12 {
  width: 100%;
}

.clipped {
  height: 1px;
  padding-top: 2px;
  overflow: hidden;
}

.taxonomy-description {
  color: $gray-dark;
  font-size: .8em;

  p {
    line-height: normal;
  }
}

.footer {
  clear: both;
  font-size: .85em;
  padding: 1em 1em 2em;
}

.site-credits {
  font-size: .9em;
}

.window-scroll-up {
  display: block;
  margin: 1em 0;
  line-height: normal;
  text-align: center;

  &:before {
    content: $fa-var-chevron-up;
    display: block;
  }
}

.entry-content {
  clear: both
}

.tabs-sort {
  margin: 0 .15em .75em;
  border-left: none;
  border-right: none;
}

.hmedia img {
  min-width: 100%;
  max-width: inherit;
}
