
.login,
html {
  height: 100%;
  background: $primary-color !important;
}

#loginform,
#lostpasswordform,
#registerform {
  background: none;
}

#login form {
  padding: 16px 0 0;
  position: relative;
  margin: 0 auto !important;
}

.login label,
#login form p {
  color: #b4b9be;
}

#login form p.submit .button {
  margin: 22px auto;
  width: 100%;
  float: none;
  display: inherit;
  text-shadow: none;
}

#reg_passmail {
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 10px;
}

#backtoblog {
	display: none;
}

#login {
  width: 300px;
}

#login h1 a {
	background: url(icon.png) no-repeat 50% 50%;
	height: 130px;
	width: 300px;
  background-size: contain;
  margin: 0 auto;
}

body.login #nav {
  color: #fff;
  margin: 0;
  text-indent: 0;
  padding: 0;
  text-align: center;
  a {
    color: #fff;
  }
}

.login form {
  background: none;
  box-shadow: none;

  p.forgetmenot {
    float: none;
  }
  .password-input-wrapper {
    width: 100%;
  }
  a {
    color: #fff;
  }
}
