@import '../_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import '../_vendor/sassy-lists/stylesheets/helpers/true';
@import '../_vendor/sassy-lists/stylesheets/functions/purge';
@import '../_vendor/sassy-lists/stylesheets/functions/remove';
@import '../_vendor/sassy-lists/stylesheets/functions/replace';
@import '../_vendor/sassy-lists/stylesheets/functions/to-list';

// Sass utilities
@import 'util/util';

$print-breakpoint: large;
$breakpoint-classes: (large xlarge);

// Global variables and styles
@import 'global';

// Components
@import 'grid/grid';
@import 'typography/typography';
@import 'components/visibility';
@import 'font-awesome/scss/variables';

@include foundation-text-alignment;

@import 'grid/column';
@import 'grid/classes';
@import 'grid/layout';
@import 'galleries';

// Responsive visibility classes
@each $size in $breakpoint-classes {
  @if $size != $-zf-zero-breakpoint {
    .hide-for-#{$size} {
      @include hide-for($size);
    }

    .show-for-#{$size} {
      @include show-for($size);
    }
  }

  .hide-for-#{$size}-only {
    @include hide-for-only($size);
  }

  .show-for-#{$size}-only {
    @include show-for-only($size);
  }
}

@include breakpoint(medium up) {
  .menu-main {

    .sub-menu {
      position: absolute;
      width: 200px;
      z-index: 10;

      li {
        text-align: left;
      }
    }

    &:after {
      content: '';
      clear: both;
      display: block;
    }

    li {
      display: inline-block;

      &:hover .sub-menu li {
        display: block;
      }

      a {
        display: block;
        padding: .65rem 1.35em !important;
      }

      &.show {
        background-color: lighten( $primary-color, 6 );
      }
    }
  }
  
  .search { 
    &-form:after {
      left: 64%;
    }
    
    &-form .button {
      width: 8%;
      display: inline-block;
    }
    
    &-field[type],
    &-date-range[type] {
      font-size: 1em;
    }
    
    &-field[type] {
      width: 62%;
    }
    
    &-date-range[type] {
      width: 30%;
    }
  }
}
