.login,
html {
  height: 100%;
  background: #7d0346 !important; }

#loginform,
#lostpasswordform,
#registerform {
  background: none; }

#login form {
  padding: 0;
  position: relative;
  margin: 0 auto !important; }

.login label,
#login form p {
  color: #b4b9be;
  line-height: normal; }

#login form p.submit .button {
  margin: 0 auto 20px;
  width: 100%;
  float: none;
  display: inherit;
  text-shadow: none; }

#reg_passmail {
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 0; }

#backtoblog {
  display: none; }

#login {
  width: 300px; }

#login h1 a {
  background: url(icon.png) no-repeat 50% 50%;
  height: 130px;
  width: 300px;
  background-size: contain;
  margin: 0 auto; }

body.login #nav {
  color: #fff;
  margin: 0;
  text-indent: 0;
  padding: 0;
  text-align: center; }
  body.login #nav a {
    color: #fff; }

.login form {
  background: none;
  box-shadow: none; }
  .login form p.forgetmenot {
    float: none;
    padding-bottom: 10px; }
  .login form .password-input-wrapper {
    width: 100%; }
  .login form a {
    color: #fff; }

div#nsl-custom-login-form-main .nsl-container-login-layout-below {
  padding: 0;
  max-width: inherit;
  padding-top: 0; }
