
<IfModule pagespeed_module>
  ModPagespeed on
  ModPagespeedEnableFilters extend_cache
  ModPagespeedCriticalImagesBeaconEnabled false
  ModPagespeedEnableFilters responsive_images,resize_images,recompress_jpeg,recompress_png,strip_image_meta_data,strip_image_color_profile
  ModPagespeedJpegRecompressionQuality -1
</IfModule>

<FilesMatch "(en|es)\.json$">
  Header set Cache-Control "max-age=3600,must-revalidate,public"
</FilesMatch>

# ----------------------------------------------------------------------
# | Allow / Block  access  to files                                    |
# ----------------------------------------------------------------------

# Block access to some file extensions
<IfModule mod_rewrite.c>
  RewriteRule \.(scss|md|patch|log|less|po)$ - [F,L,NC]
</IfModule>

# Block access .txt files except those in the root directory
<IfModule mod_rewrite.c>
  RewriteRule (\/(.+).txt)$ - [F,L,NC]
</IfModule>

<FilesMatch "sw\.js">
  Header set Service-Worker-Allowed: /
</FilesMatch>

SetEnvIf Origin "^(.*\.?(visita\.(vegas|com)))$" ORIGIN_SUB_DOMAIN=$1
<FilesMatch "\.(woff2?|ttf|eot|svg)$">
  Header set Access-Control-Allow-Origin "%{ORIGIN_SUB_DOMAIN}e" env=ORIGIN_SUB_DOMAIN
</FilesMatch>

# ----------------------------------------------------------------------
# | REWRITES                                                           |
# ----------------------------------------------------------------------

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^access/? /wp-login.php [QSA,L]
RewriteRule ^register/? /wp-signup.php [QSA,L]
RewriteRule ^loggedout/? /wp-login.php?loggedout=true [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
