
<IfModule pagespeed_module>
  ModPagespeed on
  ModPagespeedEnableFilters extend_cache
  ModPagespeedCriticalImagesBeaconEnabled false
  ModPagespeedEnableFilters recompress_jpeg,recompress_png,strip_image_meta_data,strip_image_color_profile
  ModPagespeedJpegRecompressionQuality -1
</IfModule>

<FilesMatch "sw\.js">
  Header set Service-Worker-Allowed: /
</FilesMatch>

<FilesMatch "(en|es)\.json$">
  Header set Cache-Control "max-age=180,must-revalidate,public"
</FilesMatch>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^access/? /wp-login.php [QSA,L]
RewriteRule ^register/? /wp-signup.php [QSA,L]
RewriteRule ^loggedout/? /wp-login.php?loggedout=true [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
