
.search,
.archive {

  .price, .vary {
    display: none;
  }

  .entry-header {
    padding-top: .75em;
  }

  .entry-content {
    padding-bottom: 1em;
  }
}

.tabs-title > {
  span {
    display: block;
    font-size: $tab-item-font-size;
    line-height: 1;
    padding: 1em .5em;
    font-weight: 700;
  }
}

.tabs-sort {
  margin: 0 .15em .75em;
  border-left: none;
  border-right: none;

  .tabs-title > a:after {
    content: "\F107";
    position: relative;
    right: -6px;
  }
}

.active-name .tab-name,
.active-price .tab-price,
.active-starts .tab-starts,
.active-price_max .tab-price {
  > a {
    background-color: $gray-light;
  }
}

.active-name.order-asc .tab-name,
.active-price.order-asc .tab-price,
.active-starts.order-asc .tab-starts,
.active-price_max.order-asc .tab-price {
  > a:after {
    content: "\F106";
  }
}

@include breakpoint(medium up) {
  #nav-social {
    float: right;
  }
}

.visita-widget {
  padding: 1em;
  background-color: $gray-lightest;
  box-shadow: inset 0 0 2px $gray-light;

  @include breakpoint(medium up) {
    padding: 1.5em;
  }

  .entry-meta {
    display: none;
  }

  .entry-header {
    padding: .5em;
    position: absolute;
  }

  .widget-title {
    background: $primary-color;
    color: $white;
    margin: .35em 0;
    padding: .5em;
  }

  .hentry {
    box-shadow: 0 2px 1px rgba(93,93,93,.26);
    margin: 0 0 10px;
    overflow: hidden;
    position: relative;
    height: 135px;

    @include breakpoint(medium up) {
      min-height: 215px;
    }

    @include breakpoint(375 down) {
      height: 110px;
      margin: 0 0 10px;
    }

    @include breakpoint(320 down) {
      height: 100px;
    }

    .hmedia a {
      display: block;
    }
  }
}
