
iframe[allowfullscreen] {
  display: block;
  width: 100%;

  @include breakpoint(small down) {
    max-height: 200px;
  }
}

.hmedia {
  margin: 0;

  img {
    min-width: 100%;
    -moz-transition: transform .4s ease-out;
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
  }

  &:hover img {
    -moz-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
}

.hmedia figcaption.fn {
  clip: rect(0 0 0 0);
  position: absolute;
}

.search .hentry,
.archive .hentry {
  box-shadow: 0 2px 1px rgba(93,93,93,.26);
  margin: 0 0 10px;
  overflow: hidden;
  position: relative;
  height: 145px;

  @include breakpoint(medium up) {
    min-height: 230px;
  }

  @include breakpoint(375 down) {
    height: 136px;
    margin: 0 .25em 10px;
  }

  @include breakpoint(320 down) {
    height: 115px;
  }

  .hmedia a {
    display: block;
  }
}
