
img {
  max-width: 100%;
}

figure {
  margin: 0;
}

iframe[allowfullscreen] {
  display: block;
  height: auto;
  width: 100%;
}

.hmedia figcaption.fn {
  clip: rect(0 0 0 0);
  position: absolute;
}

.search .hentry,
.archive .hentry {
  box-shadow: 0 2px 1px rgba(93,93,93,.26);
  margin: 0 .25em 10px;
  position: relative;

  @include breakpoint(small down) {
    height: 110px;
    overflow: hidden;
  }

  .hmedia a {
    display: block;
  }
}
