
.menu.align-center li {
  display: inline-block;
}

.menu-social {
  margin: 1em 0 2em;
}

.menu-social li a {
  background-color: $gray-light;
  margin: 0 6px;
  padding: 1em;
  width: 36px;
  height: 36px;
  border-radius: 2em;
}

#nav {
  a {
    color: $gray-lightest;

    @include breakpoint(medium down) {
      border-bottom: $menu-mobile-border;
      display: block;
      padding: .5em .65em;
    }
  }
}

.menu-toggle {
  a:after {
    float: right;
    margin-right: .5em;
    font-family: FontAwesome;
    font-size: 1.35em;
    margin-top: -6px;
    content: $fa-var-bars;
  }

  @include breakpoint(large up) {
    display: none;
  }
}

.tabs-title {
  float: left;
  list-style: none;
}

.menu-main {
  margin: 0;

  @include breakpoint(medium up) {
    text-align: center;
  }

  ul {
    margin: 0;
  }

  li {
    position: relative;
    display: inline-block;

    @include breakpoint(medium down) {
      display: block;
      width: 100%;
    }

    a {

      @include breakpoint(medium up) {
        padding: .65rem 1.35em;
        display: block;
      }
    }
  }

  .sub-menu {
    background-color: lighten( $primary-color, 6 );

    li {
      display: none;
    }

    li a {
      padding-left: 2.5em;
    }
  }

  .show .sub-menu li {
    display: block;
  }

  .menu-item-has-children {
    > a:after {
      float: right;
      font-family: FontAwesome;
      content: $fa-var-angle-down;
    }

    &.show > a:after {
      content: $fa-var-angle-right;
    }
  }

  @include breakpoint(medium down) {
    li.plus {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 104px;
      z-index: 20;

      a {
        padding-left: 25px;
        border-bottom: none;
        border-left: $menu-mobile-border;
      }
    }
  }

  @include breakpoint(medium down) {
    display: none;
  }
}


@include breakpoint(medium down) {
  .menu-item-328,
  .menu-item-121 {
    > a:after {
      margin-right: 104px;
    }
  }

  .show-menu .menu-main {
    display: block;
  }
}
