.menu.align-center li {
  display: inline-block;
}

.menu-social {
  @include breakpoint(small down) {
    margin: 1em 0 2em;
  }
}

.menu-social li a {
  background-color: $gray-light;
  border-radius: 2em;
  height: 38px;
  margin: 0 5px;
  padding: 0.95em;
  text-align: center;
  width: 38px;
}

#nav {
  a {
    @include breakpoint(medium down) {
      border-bottom: $menu-mobile-border;
      display: block;
      padding: 0.65rem 1.35em;
    }
  }
}

.menu-toggle {
  a:after {
    float: right;
    margin-right: 0.5em;
    font-family: FontAwesome;
    font-size: 1.35em;
    margin-top: -6px;
    content: $fa-var-bars;
  }
  @include breakpoint(medium up) {
    display: none;
  }
}

.tabs-title {
  float: left;
  list-style: none;
}

.menu-main {
  margin: 0;
  @include breakpoint(medium up) {
    text-align: center;
  }

  ul {
    margin: 0;
  }

  li {
    position: relative;
    display: inline-block;
    @include breakpoint(small down) {
      display: block;
      width: 100%;
    }

    &.current-menu-item > a {
      background-color: lighten($primary-color, 11);
    }

    &.current-menu-parent > a,
    &:focus,
    &:hover {
      background-color: lighten($primary-color, 6);
    }

    a {
      @include breakpoint(medium up) {
        padding: 0.65rem 1.35em;
        display: block;
      }

      &:focus,
      &:hover {
        background-color: lighten($primary-color, 11);
      }
    }
  }

  .sub-menu {
    text-align: left;
    background-color: lighten($primary-color, 6);

    li {
      display: none;
    }

    li a {
      border-bottom: $menu-mobile-border;
      padding-left: 2.5em;
    }
  }

  .show .sub-menu li {
    display: block;
  }

  .menu-item-has-children {
    > a:after {
      float: right;
      font-family: FontAwesome;
      content: $fa-var-angle-down;
      @include breakpoint(medium up) {
        position: relative;
        right: -.75em;
      }
    }

    &.show > a:after {
      content: $fa-var-angle-right;
    }
  }
  @include breakpoint(small down) {
    li.plus {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 104px;
      z-index: 20;
      background-color: $primary-color;

      a {
        padding-left: 25px;
        border-bottom: none;
        border-left: $menu-mobile-border;
      }
    }
  }
  @include breakpoint(small down) {
    display: none;
  }
}

@include breakpoint(small down) {
  .menu-item-121,
  .menu-item-328 {
    > a:after {
      margin-right: 104px;
    }
  }

  .show-menu .menu-main {
    display: block;
  }
}
