
main {

  > .row {
    margin: auto;
    max-width: 736px;
  }

}

.header {
  background-color: $primary-color;
  box-shadow: 0 1px 3px $gray-dark;
  text-align: center;
  position: relative;

  a {
    color: $gray-lightest ;
  }

  > .row {
    padding-top: .85rem;
  }
}

.site-logo {
  font: 300 1.3em $font-sans;
  letter-spacing: -.05em;
  margin: 0 0 0.5rem;

  a:hover, a:focus {
    color: $white;
  }

  @include breakpoint(medium up) {
    font-size: 1.5em;
  }
}

.search {
  &-form {
    margin: auto;
    position: relative;
  }

  &-form:before {
    color: $gray-dark;
    content: $fa-var-search;
    left: .75em;
    position: absolute;
    top: .35em;
  }

  &-field[type='search'] {
    font-size: 1.1em;
    height: 1.85em;
    margin-bottom: .5em;
    padding-left: 2.5em;
    border: 1px solid $gray-light;
    background-color: #fefefe;
    width: 100%;

    &::placeholder {
      color: $gray-medium;
    }
  }
}
