
.header {
  position: relative;
  text-align: center;
  box-shadow: 0 1px 5px -1px $gray-darker;

  > .row {
    padding-top: .85rem;
  }
}

.site-logo {
  font: 300 1.3em $font-sans;
  letter-spacing: -.05em;

  @include breakpoint(medium up) {
    font-size: 1.5em;
  }
}

.search {
  &-form {
    margin: auto;
  }

  &-button.expanded {
    margin-left: -1px;
  }
}
