
.nav-links {
  padding: 18px 0;
  overflow: hidden;
  width: 100%;
  position: relative;

  @include breakpoint(medium down) {
    text-align: center;
  }

	.page-numbers {
    border: solid 1px $gray-medium;
    display: inline-block;
    margin: 0 3px;
		padding: 3px 10px;

    &:hover, &:focus {
      @extend .current;
    }
	}

  .current {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white;
  }

	.dots {
		border: none;
    padding: 0;
	}

	.next, .prev {
    border-color: transparent;

    &:hover, &:focus {
      color: inherit;
      border-color: $gray-medium;
      background-color: transparent;
    }
	}

	.next:after {
    content: $fa-var-angle-right;
	}

	.prev:before {
    content: $fa-var-angle-left;
	}
}

.nav-next, .nav-previous {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 49%;

  a {
    display: block;
    height: 20px;
    position: relative;
    vertical-align: middle;
  }
}


.nav-below {
  padding-top: 1em;
}

.footer-nav li {
  display: inline;
  list-style: none;

  &:first-child:after {
  	content: ' \2022';
  }
}
