
.botton {
  @extend .button;
}

body.page .entry-title {
  padding: 1em 0;
}

.single {

  .date {
    display: none;
  }

  .venue {
    font-weight: 700;
  }

  h4 {
    font-weight: 700;
  }

  address {
    font-size: .9em;

    span {
      padding-right: 4px;
    }
  }

  .price {
    color: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .vary {
    color: $gray-dark;
    font-size: 70%;
  }

  .single-top {
    padding-top: .5em;
  }

  .nav-links {
    padding: 10px 0;
  }

  .location {
    padding-top: .5em;
  }

  .location a {
    color: $gray-dark;
  }

  .columns > .hentry {
    border: 1px solid $gray-light;
  }

  .hmedia  {
    max-height: 280px;
    overflow: hidden;
  }

  .entry-header {
    padding: 1.5em 1em;
    position: relative;

    @include breakpoint(small down) {
      padding: .75em;
    }
  }

  .day a,
  .price-action {
    background-color: $warning-color;
    border-top: 1px solid $white;
    color: $gray-darker;
    font-weight: 700;
    display: block;
    padding: .65em .75em;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.4);

    &:after {
      float: right;
      content: $fa-var-angle-right;
    }

    &:hover, &:focus {
      color: $black;
      box-shadow: 0 8px 34px rgba(0,0,0,.3);
      -moz-transform: scale(1.03);
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
    }
  }

  .dates {
    padding: 0 1em 1em;
    border-bottom: 1px solid $gray-light;

    @include breakpoint(small down) {
      padding: 0 .5em 1em;
    }
  }

  .price-action.inactive {
    color: $gray-dark;
    background-color: $gray-lightest;
  }

  .entry-content {
    padding: 0 1.5em;

    a {
      text-decoration: underline;
    }

    @include breakpoint(small down) {
      padding: 0 .75em;
    }

    > .hidden ~ *,
    > :first-child {
      margin-top: .75em;
    }

    > :last-child {
      margin-bottom: 1.5em;

      @include breakpoint(small down) {
        margin-bottom: .75em;
      }
    }

    .taxonomy-links {
      margin-bottom: .85em;
    }

    ol > li {
      margin-bottom: .65em;
    }

    .button {
      text-decoration: none;
    }
  }

  .share_button {
    @include breakpoint(medium up) {
      position: absolute;
      right: 1em;
      top: 7em;
    }
  }
}

.single-post .share_button {
  position: static;
}

.taxonomy-links {
  font-size: .7em;
  padding-top: 1em;

  a {
    color: $gray-darker;
    display: inline-block;
    border: solid 1px $gray-medium;
    font-weight: 500;
    margin-left: -1px;
    padding: 4px 6px;
  }
}

.single-post .date {
  display: block;
}

.error404 .entry-title {
  margin: .25em 0 .5em;
}

.error404 .no-results {
  margin-top: 14px;
  padding: 1em .75em 0;
  border: 1px solid $gray-light;

  @include breakpoint(medium up) {
    padding: 1em;
  }

  p {
    line-height: normal;
  }
}

.share_button {
  display: block;
  margin-left: -5px;
  padding-top: .75em;
}

.share_button a {
  display: inline-block;
  height: 34px;
  margin: 0 5px 2px;
  width: 34px;
  background-color: #eee;
  text-align: center;
  line-height: 2.25em;
  color: #a0a5aa;

  &:hover, &:focus {
    color: #fff;
    background-color: #200042;
  }
}

.sh-em:after {
  content: '\f0e0'
}

.sh-fb:after {
  content: '\f09a'
}

.sh-gp:after {
  content: '\f0d5'
}

.sh-tw:after {
  content: '\f099'
}

.sh-ri:after {
  content: '\f281'
}

.sh-su:after {
  content: '\f1a4'
}

.nav-previous {
  text-align: left;
  padding-left: 10px;

  a::before {
    content: $fa-var-angle-left;
    left: -10px;
    position: absolute;
    top: 0;
  }
}

.nav-next {
  text-align: right;
  padding-right: 10px;

  a::after {
    content: $fa-var-angle-right;
    position: absolute;
    right: -10px;
    top: 0;
  }
}

.caldera-grid label {
  display: inline-block;
  min-width: 9.5em;

  @include breakpoint(small down) {
    min-width: 45%;
    padding: 0 2%;
  }
}

.event-list {
  border-top: 2px solid $gray-medium;
  margin: 0 0 2em;

  li {
    display: block;
    list-style: none;
  }

  li em {
    font-style: normal;

    @include breakpoint(small down) {
      display: block;
    }
  }

  li strong {
    padding: 0 5px;
  }

  li a.url {
    display: block;
    text-decoration: none;
    border-bottom: 2px solid #ddd;
    padding: 8px;

    @include breakpoint(medium up) {
      padding: 8px 20px;
    }
  }

  li a:before {
    content: $fa-var-angle-right;
    float: right;

    @include breakpoint(small down) {
      line-height: 3em;
    }
  }
}
