html, body {
  margin: 0;
  padding: 0;
}

html {
  @include breakpoint(small down) {
    font-size: 90% !important;
  }
}

main {
  background: $white;
  box-shadow: 0 1px 3px 0 rgba(90,90,90,.3);
  padding-bottom: 1em;
  overflow: hidden;
}

body .button {
  border-color: transparent;
}

address {
  font-style: normal;
}

ins, dfn {
  background: #f3f3f3;
  text-decoration: none;
  width: 100%;
  overflow: hidden;
}

table {
  @include breakpoint(small down) {
    font-size: .9em;
  }
}

.adsbygoogle.top {
  margin: 0 auto .75em;
}

.adsbygoogle.bottom {
  margin: .75em auto 0 ;
}

:focus {
  outline: #4d0ff1 solid 1px;
}

::before, ::after {
  font-family: FontAwesome;
}

.screen-reader-text {
  @extend .show-on-focus;
}

h1.entry-title {
  color: $primary-color;
  letter-spacing: -.05em;
}

.hidden {
  display: none;
}

.clipped {
  height: 1px;
  padding-top: 2px;
  overflow: hidden;
}

.taxonomy-description {
  color: $gray-dark;
  font-size: .8em;

  p {
    line-height: normal;
  }
}

.footer {
  clear: both;
  font-size: .85em;
  padding: 1em 1em 2em;
}

.site-credits {
  font-size: .9em;
}

.window-scroll-up {
  display: block;
  margin-top: 1em;
  line-height: normal;
  text-align: center;

  &:before {
    content: $fa-var-chevron-up;
    display: block;
  }
}
