
//
$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;

$foundation-palette: (
  primary: #200042,
  secondary: #00ff2a,
  success: #3adb76,
  warning: #ffc000,
  alert: #ec5840,
);

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 32),
    'h2': ('font-size': 28),
    'h3': ('font-size': 24),
    'h4': ('font-size': 22),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
);

$gray-lightest: #f5f5f5;
$gray-light: #e6e6e6;
$gray-medium: #ddd;
$gray-dark: #ababab;
$gray-darker: #5f5f5f;

$black: #0a0a0a;
$white: #fefefe;

$button-padding: 0.85em 1em;
$button-background-hover: auto;
$button-background-hover-lightness: 16%;

$body-background: $gray-lightest;
$body-font-color: $gray-darker;
$body-font-family: Helvetica, Arial, sans-serif;

$fa-font-path: 'fonts';
$font-sans: 'Roboto', sans-serif;
$header-font-family: $font-sans;

$input-border: 1px solid $gray-light;
$input-shadow-focus: '';

$menu-mobile-border: 1px solid lighten( #200042, 15 );

$tab-item-font-size: .9em;
$tab-item-padding: 1em 1.1em;

$table-padding: .5em .35em .325em;
