.weather {

  &-deg {
    font-size: 3.5em;
    font-weight: 300;
    @include breakpoint(medium up) {
      padding-bottom: $global-padding/3;
      border-bottom: solid 1px $gray-light;
    }
  }

  &-text {
    margin-top: -$global-margin;
    font-weight: 600;
  }

  &-detail {
    padding-top: $global-padding;
  }

  &-forecast,
  &-current {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: $global-padding;
    background-color: $gray-lightest;
  }

  &-forecast {
    border-top: solid 1px $gray-light;
    padding-top: $global-padding;
    margin-bottom: $global-margin * 2;
  }

  &-image img {
    max-width: 128px;
  }
}
